body{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
}

/*Navigation*/ 

.logo{
    font-weight: 900;
    font-size: 2rem;
}

.nav-item{
    margin: 0 15px;
}

/*Main Section*/
#main{
    background: url(./image/background.png);
    background-size: cover;
    height: 100;
}

.header-main{
    margin-top: 80px
}

.header-info{
    font-weight: 900;
    font-size: 2rem;
    color: #fff;
}

/*overview*/

.info-width{
    width: 60%;
}

.overview-icon{
    font-size: 3rem;
    color: #5A34FC;
}
.overview-row{
    margin-top: 5rem;
}

.overview-h3{
    font-weight: 500;
}
.overview-h3, .overview-icon, .overview-row{
    padding: 1rem;
}


#testimonials {
    background-color: #5A34FC;
    
}

.section-fans{
    font-size: 3rem;
    padding: 30px 0px;
}


.carousel-item{
    padding: 3% 10%;
}

.card{
    border-color: rgb(52, 2, 71);
    box-shadow: 0px 2px 15px 6px rgba(74,3,166,0.2);
}


.btn3d.btn-success {
	box-shadow: 0 0 0 1px #31c300 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #5eb924, 0 8px 8px 1px rgba(0, 0, 0, 0.5);
	background-color: #78d739;
}

.btn3d.btn-success:active,
.btn3d.btn-success.active {
	box-shadow: 0 0 0 1px #30cd00 inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 1px 3px 1px rgba(0, 0, 0, 0.3);
	background-color: #78d739;
}

.pricing-padd{
    padding: 3%;

}

#footer{
    height: 200px;
}

.footer-icon{
    font-size: 2rem;
    color: #5A34FC;
    padding: 5% 3%;
}

@media only screen and (max-width: 1800px){
    .sticker-mock{
        margin-top: 9%; //display none
    }

    .card{
        margin: 20px 0;

    }
}